[submodule "Submodules/EtchAPI"]
	path = Submodules/EtchAPI
	url = https://github.com/Fleuronic/EtchAPI
[submodule "Submodules/EtchDatabase"]
	path = Submodules/EtchDatabase
	url = https://github.com/Fleuronic/EtchDatabase
[submodule "Submodules/EtchService"]
	path = Submodules/EtchService
	url = https://github.com/Fleuronic/EtchService
